* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  height: 100vh;
  width: 100%;
  font-family: "Lato", sans-serif;
}

/* header */

.header {
  background-color: #2d303a;
  color: #ffffff;
  width: 100%;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 25px;
  font-weight: 700;
  color: #ffffff;
  position: relative;
}

.header__logo:before {
  content: "*";
  width: 100%;
  height: 3px;
  position: absolute;
  z-index: 1;
  left: 100%;
  color: #f06c64;
  font-size: 25px;
  font-weight: 550;
}

/* navigation_bar */

.nav {
  text-transform: uppercase;
  height: 90px;
  display: flex;
  align-items: center;
}

.nav__link {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.2s linear;
  padding-left: 14px;
  padding-top: 7px;
  margin-right: 16px;
  position: relative;
  font-weight: 700;
  font-size: 12px;
}

.nav__link:before {
  content: "·";
  width: 10px;
  position: absolute;
  z-index: 1;
  left: 100%;
  font-weight: 1000;
  color: #494e62;
  margin-left: 13px;
}

.nav__link:last-child:before {
  content: "";
}

.nav__link:hover {
  color: #d6645e;
}

.hr_header {
  border: none;
  background-color: #323746;
  color: #323746;
  height: 7px;
}

/* slider*/

.slider {
  padding-top: 53px;
  padding-bottom: 58px;
  background-color: #f06c64;
}

.slider__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.icon_previous_page:hover,
.icon_next_page:hover {
  cursor: pointer;
  color: white;
}

.icon_next_page {
  position: relative;
  right: 17px;
  bottom: 2px;
}

.icon_previous_page {
  position: relative;
  left: 5px;
  bottom: 2px;
}

.iphone_vertical {
  position: relative;
  bottom: 5px;
  right: 7px;
}

.iphone_horizontal {
  position: relative;
  bottom: 5px;
  right: 5px;
}

.hr_main {
  border: none;
  background-color: #ea676b;
  color: #ea676b;
  height: 7px;
}

/* footer_services */


.our_services {
  width: 100%;
  background-color: #f2f2f2;
  color: #666d89;
}

.about_services {
  padding-top: 65px;
  padding-left: 5px;
}

.services,
.services_text {
  margin-bottom: 30px;
}

h2.services {
  font-size: 30px;
  line-height: 18px;
  font-weight: 900;
}

.services_text {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  position: relative;
  bottom: 3px;
}

.service_title {
  font-size: 18px;
  line-height: 18px;
  font-weight: 900;
  padding-left: 18px;
  padding-top: 10px;
}

.services_list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.services_item {
  width: 33.33333%;
  display: flex;
  align-items: flex-start;
  padding-bottom: 10px;

}

.column_text {
  padding: 10px 0px 10px 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.9;
}

.service_icon {
  padding-left: 5px;
  padding-top: 10px;
}

.bottom_colum {
  position: relative;
  bottom: 90px;
}

.hr_footer {
  border: none;
  background-color: #ffffff;
  color: #ffffff;
  height: 7px;
}


@media screen and (max-width:1600px) {
  .wrapper {
    margin: 0 auto;
    padding-top: 0px;
    padding-right: 8px;
    padding-left: 35px;
    box-sizing: border-box;
  }
}
